* {
  font-family: "Comic Sans MS", cursive;
  font-size: 16px;}
* {
  background-color: rgb(64,191,181);}
* {
  color: rgb(255,102,255);}
h1 {
  font-size: 250%;}
h1 {
  text-decoration: blink;}
h2 {
  font-size: 200%;}
h1, h2 {
  font-weight: bold;}
h1, h2 {
  color: rgb(245,61,61);}
ul, ul>li, li>a {
  background-color: rgb(255,255,0);}
ol, ol>li {
  background-color: rgb(0,255,0);}
td {
  border: 1px solid rgb(77,0,102);}

  

